/* Table */

#crud-datatable-container{
    margin: 40px;
    width: 95%;
    background-color: white !important;
    box-shadow: 0 0 0 1px rgb(63 63 68 / 5%), 0 1px 2px 0 rgb(63 63 68 / 15%)!important;
}
#crud-datatable-container td, tr{
    padding: 20px !important; 
    font-size: 14px;
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #000000DE;
}
#crud-datatable-container tr th:first-child{
    border-top-left-radius: 5px;
    
}

#crud-datatable-container tr th{
    text-align: center !important;
    justify-content: center !important;
    margin: auto !important;
}

#crud-datatable-container tr th:last-child{
    border-top-right-radius: 5px;
}

#crud-datatable-container tr:nth-child(even)
{
    background-color: #051e3410;
}


#crud-datatable-container th{
    background-color: #082946 !important;

    
    padding: 20px !important; 
}

#crud-datatable-container tr th,.kv-table-header a {
    color: white !important; 
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    text-decoration: none;
    
}

.pagination *{
    font-size: 18px !important; 
}

.table .thead-dark th{
    border: none;
}
/* Paginador */

.pagination{
    justify-content: right !important;
    text-align: right;
    border-radius: 5px;
    text-align: center;
    margin-right: 2em ;
    padding: 0;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.kv-panel-pager{
    margin-bottom: 1.5em;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background: #051E34 ;
    border: 1px solid #051E34 ;
    color: white !important;

    text-decoration: none;
}
.page-item.active .page-link
{
    background: #051E34 ;
    border: 1px solid #051E34 ;
    color: white !important;
}

.page-link{
    outline: none !important;
    box-shadow: none !important;
}

.page-item.disabled .page-link svg *{
    fill: gray !important;
}
.page-item.disabled .page-link{
    background-color: rgba(211, 211, 211, 0.277) ;
}


.pagination a{

    color:#051E34 !important ;
    text-align: center;
    font-size: 18px !important;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}



/* Container */

.container_tools
{
    border-radius: 5px;
    height: 10em;
    padding: 1.5em;
    width: 100% !important;
    box-shadow: 0 0 0 1px rgb(63 63 68 / 5%), 0 1px 2px 0 rgb(63 63 68 / 15%)!important;
    background: #f5f5f5 !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-toolbar .kv-grid-toolbar .toolbar-container .float-right,.header_toolbar,.btn-group{
    width: 100% !important;
}

.btn-reload{
    padding: 1em;
    background-color: #2196F3;    
    display: flex;
    align-items: center;
}

#crud-datatable-togdata-page, #crud-datatable-togdata-all{
    width: 6em;
    justify-content: center;
    margin-left: 1em;
    height: 3.5em;
    display: flex;
    align-items: center;
    background-color: white !important;
}

.search_bar .form-control{
    height: 3em;
}

.search_bar{
    margin: 1.5em;
    width: 100%;
}

.btn-pdf{
    height: 3.5em;
    background: #c80a0a;
   
}

.btn-pdf:hover{
    background: rgb(129,24,24);
    background: linear-gradient(32deg, rgba(129,24,24,1) 0%, rgba(200,10,10,1) 65%);
}


.btn-excel{
    height: 3.5em;
    background-color: rgba(16,124,65,1);
}

.btn-excel:hover{
    background: rgb(24,92,55);
    background: linear-gradient(32deg, rgba(24,92,55,1) 0%, rgba(16,124,65,1) 65%);
   
}

.resultados{
    height: 7em;
}

/* Card Header */

.card-header
{
    background-color: #082946 !important ;
}

.kv-panel-before{
    height: 10em;
    padding: 1.5em;
    width: 100% !important;
    box-shadow: 0 0 0 1px rgb(63 63 68 / 5%), 0 1px 2px 0 rgb(63 63 68 / 15%)!important;
    background: #f5f5f5 !important;

}

.btn-group{
    width: 60%;
}

.kv-grid-toolbar{
    width: 100%;
}

.kv-panel-after{
    background-color: rgba(0, 0, 0, 0.03);
}

.select2-container .select2-selection--multiple{
    height: 3.3em;
}